*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-family: "Roboto", sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/*PALETA DE COLORES*/

:root{
    --color-uno: #F2AED4;
    --color-dos: #F2C9E0;
    --color-tres: #AC80BF;
    --color-cuatro: #898ACA;
    --color-cinco: #F2D7B6;
    
    a{
        text-decoration: none;
        color: black;
    }
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    max-width: 100%;
}

.div-logo {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    max-width: 100%;
}

.div-nav{
    display: flex;
    align-content: center;
    justify-content: end;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 1rem;
}

/*MAIN*/

.titulo{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    font-style: oblique;
    padding-top: 2rem;
}

.hero {
    padding-top: 2rem;
    display: flex;
    height: 32rem;
}


.productos-destacados{
    padding-top: 4rem;
    padding-bottom: 2rem;  
    display: block;
    justify-content: center;
    align-items: center;
}

.titulo-destacados {
    text-align: center;
    padding-bottom: 2rem;
}

.banner-iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.div-banner-iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
}

.iconos-div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.iconos-div>i{
    font-size: 4rem;
}

.iconos-div>p{
    font-size: 1rem;
    line-height: 1rem;
    margin: 2rem;
    text-align: start;
}

/*FOOTER*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-top: 5rem;
}

.footer-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-2>p{
    font-style: italic;
}

.footer-3>ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
}

.iconos-rrss{
    font-size: 2rem;
}

.iconos-rrss>i {
    margin: .3rem;
}

.footer-3>ul>li>a{
    text-decoration: none;
    color: black;

}

