/*VARIABLES, FUNCTIONS, MIXINS, PLACEHOLDERS*/

/*PALETA DE COLORES*/

$color-uno: #F2AED4;
$color-dos: #F2C9E0;
$color-tres: #AC80BF;
$color-cuatro: #898aca;
$color-cinco: #f2d7b645;

$fuente-manuscrita: 'Sacramento', cursive;
$fuente-titulo: 'Amatic SC', sans-serif;
$fuente-general: 'Roboto', sans-serif;
